.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.833vw 0;
  max-width: var(--max-width);
  margin: 0 auto;
}

.header .logo {
  width: 8.542vw;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 0;
  font-weight: 600;
}

.header nav a:not(:last-child) {
  margin-right: var(--spacer);
}
