@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=auto");

@font-face {
  font-family: "TT Firs Neue";
  src: url("/fonts/TTFirsNeue-Bold.woff2") format("woff2"),
    url("/fonts/TTFirsNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-display: auto;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("/fonts/TTFirsNeue-ExtraBold.woff2") format("woff2"),
    url("/fonts/TTFirsNeue-ExtraBold.woff") format("woff");
  font-weight: bolder;
  font-display: auto;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=auto");
