@import "./reset.css";
@import "./fonts.css";

/* Global Styles
   ========================================================================== */
:root {
  /* Color Scheme */
  --black: #000;
  --white: #fff;
  --green: #00eb88;
  --blue: #3f3fe2;
  --gray: #a5a5a5;
  --gray--dark: #666;
  --gray--light: #e5e5e5;
  --gradient: linear-gradient(90deg, #00a55f 0%, #4cf1ac 100%);

  /* Fonts */
  --font-primary: "Inter", sans-serif;
  --font-secondary: "TT Firs Neue", sans-serif;

  /* Header */
  --header-min-height: 125px;
  --header-min-height-tight: 100px;

  /* Misc */
  --max-width: 80.556vw;
  --spacer: 5.556vw;
  --spacer-lg: 11.111vw;
  --spacer--negative: -5.556vw;
  --spacer-lg--negative: -11.111vw;
  --radius: 8px;
  --radius-s: 4px;

  font-variant-ligatures: common-ligatures;

  font-family: var(--font-primary);
}

.full-height {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

h1 {
  font-family: var(--font-secondary);
  font-weight: bold;
  font-size: 6.111vw;
  line-height: 91%;
  letter-spacing: -0.05em;
  font-feature-settings: "ordn" on;
}

h2 {
  font-family: var(--font-primary);
  font-weight: 800;
  font-size: 5vw;
  line-height: 122%;
  letter-spacing: -0.06em;
}

h2.secondary {
  font-family: var(--font-secondary);
}

h3 {
  font-family: var(--font-primary);
  font-weight: 800;
  font-size: 4.444vw;
  line-height: 100%;
  letter-spacing: -0.03em;
  font-feature-settings: "ordn" on;
}

h3.secondary {
  font-family: var(--font-secondary);
}

h4 {
  font-weight: bold;
  font-size: 3.333vw;
  line-height: 119%;
  letter-spacing: -0.02em;
  font-feature-settings: "ordn" on;
}

h5 {
  font-weight: 500;
  font-size: 1.667vw;
  line-height: 160%;
  letter-spacing: -0.03em;
  font-feature-settings: "ordn" on;
}

h6 {
  font-weight: 500;
  font-size: 1.528vw;
  line-height: 118%;
  font-feature-settings: "ordn" on;
}

p {
  font-size: 1.25vw;
  line-height: 160%;
  font-feature-settings: "ordn" on;
}

a,
p.s {
  font-weight: normal;
  font-size: 1.111vw;
  line-height: 160%;
}

.gradient {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img {
  object-fit: cover;
}

.link {
  position: relative;
}

.link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.075em;
  min-height: 1px;
  transform-origin: right;
  transform: scaleX(0);
  background-color: currentColor;
  transition: transform 0.95s cubic-bezier(0.19, 1, 0.22, 1);
}

.link:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}

@media (max-width: 800px) {
  .hide-on-mobile {
    display: none !important;
  }

  h1 {
    font-size: 14.933vw;
    line-height: 128%;
    letter-spacing: -0.03em;
  }

  h2 {
    font-size: 12.8vw;
    line-height: 100%;
    letter-spacing: -0.03em;
  }

  h3 {
    font-size: 10.667vw;
    line-height: 120%;
    letter-spacing: -0.03em;
  }

  h4 {
    font-size: 8.533vw;
    line-height: 119%;
    letter-spacing: -0.04em;
  }

  h5 {
    font-size: 6.4vw;
    line-height: 120%;
    letter-spacing: -0.06em;
  }

  h6 {
    font-size: 4.8vw;
    line-height: 160%;
  }

  p {
    font-size: 4.267vw;
    line-height: 170%;
  }

  p.s {
    font-size: 3.733vw;
    line-height: 121%;
  }
}

@media (min-width: 800px) {
  .hide-on-desktop {
    display: none !important;
  }
}
